.pagination-wrap {
    display: inline-block;
    width: 100%;
    clear: both;
}
.pagination-wrap .pagination li a {
    font-size: 15px;
    font-weight: 700;
}
.entry-content .pagination,
.pagination {
    width: 100%;
    display: block;
    margin: 0;
    padding-left: 0px;
    padding-top: 21px;
    margin-bottom: 30px;
}
.entry-content .pagination > li,
.pagination > li {
    float: none;
    margin: 0 5px 0 0;
    display: inline-block;
    padding: 0;
}
.entry-content .pagination > li a,
.pagination > li a,
.entry-content .pagination > li > span,
.pagination > li > span {
    height: 40px;
    line-height: 38px;
    display: block;
    color: #88aabe;
    background: transparent;
    border: 1px solid #ebebeb;
    padding: 0 16px;
    font-weight: 700;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.entry-content .pagination > li > span.dots,
.pagination > li > span.dots {
    border: 0;
    background: transparent;
    color: #88aabe;
}
.entry-content .pagination > li > span.dots:hover,
.pagination > li > span.dots:hover {
    background: transparent;
    color: #3d3b3b;
}
.entry-content .pagination > li > span.current,
.pagination > li > span.current {
    background: #88aabe;
    color: #ffffff;
    border-color: #88aabe;
    font-size: 15px;
    font-weight: 700;
}
.entry-content .pagination > li.active a,
.pagination > li.active a {
    color: #88aabe;
    background: transparent !important;
    border-color: #88aabe;
}
.entry-content .pagination > li.disabled a,
.pagination > li.disabled a,
.entry-content .pagination > li.disabled a:hover,
.pagination > li.disabled a:hover,
.entry-content .pagination > li .disabled a,
.pagination > li .disabled a,
.entry-content .pagination > li .disabled a:hover,
.pagination > li .disabled a:hover {
    background: transparent;
    color: #8a8787;
    border-color: #ebebeb;
}
.entry-content .pagination > li a:hover,
.pagination > li a:hover,
.entry-content .pagination > li a:focus,
.pagination > li a:focus,
.entry-content .pagination > li span:hover,
.pagination > li span:hover {
    color: #ffffff;
    background: #88aabe;
    border-color: #88aabe;
}
.entry-content .pagination > li:first-child {
    margin-left: 0 !important;
}
.entry-content .pagination > li:last-child {
    margin-right: 0;
}
.pagination li a.next,
.pagination li a.prev,
.pagination li:first-child,
.pagination li:last-child,
.blog-pagination li .next,
.blog-pagination li .prev,
.blog-pagination div.next a,
.blog-pagination div.prev a {
    color: #88aabe;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    background: transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.pagination li a.next:hover,
.pagination li a.prev:hover,
.pagination li:first-child:hover,
.pagination li:last-child:hover,
.blog-pagination li .next:hover,
.blog-pagination li .prev:hover,
.blog-pagination div.next a:hover,
.blog-pagination div.prev a:hover {
    color: #ffffff;
    background: #88aabe;
    border-color: #88aabe;
}
.pagination li a.next,
.pagination li a.prev {
    padding: 0 25px;
}
.pagination li:first-child span,
.pagination li:last-child span {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.blog-pagination {
    display: table;
    width: 100%;
}
.blog-pagination .next,
.blog-pagination .prev {
    display: table-cell;
}
.blog-pagination .next a,
.blog-pagination .prev a {
    line-height: 30px;
    padding: 0 10px;
    background-color: #88aabe;
    font-size: 14.22222222px;
    font-size: 0.88888889rem;
    display: inline-block;
    border: 2px solid #ebebeb;
}
.blog-pagination .next a i,
.blog-pagination .prev a i {
    margin: 0 3px;
}
.blog-pagination .next {
    text-align: right;
}